.cards {
  margin: 0 auto;
  max-width: 1280px;
  padding: 20px 0 40px 0;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.cards__list {
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .cards__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;
  }
}
