.modal {
  position: fixed;
  background-color: rgba(33, 33, 33, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  position: relative;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  color: rgba(33, 33, 33);

  border: none;
  padding: 0;
  background: url("../images/close-btn.svg") center no-repeat;
  background-size: contain;
  cursor: pointer;
}
.modal__close-btn:hover {
  opacity: 0.6;
}

.modal__title {
  margin: 0 0 32px 0;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #000000;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: rgba(33, 33, 33, 0.7);
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
}

.modal__input {
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  opacity: 1;
}

.modal__input::placeholder {
  font-size: 20px;
  line-height: 1;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  opacity: 0.3;
}

.modal__input:focus {
  outline: none;
  opacity: 1;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__save-btn {
  width: 156px;
  padding: 18px 0;
  background-color: #000000;
  color: rgba(252, 245, 229, 1);
  text-align: center;
  border-radius: 8px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.modal__content {
  position: relative;
  max-width: 75vw;
  max-height: 75vh;
  padding: 80px 0 80px 0;
}

.modal__image {
  width: 100%;
  max-height: 80vh;
  max-width: 80vw;
  object-fit: contain;
  border-radius: 8px;
}

.modal__caption {
  margin: 0;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  background-color: #000000;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 8px;
}

.modal__close {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 40px;
  background: transparent url("../images/Close-white-Icon.svg") center no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.modal__close:hover {
  opacity: 1;
}

@media screen and (max-width: 784px) {
  .modal {
    padding: 0 10px;
    background-color: rgba(33, 33, 33, 0.8);
  }

  .modal__container {
    padding: 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    margin: 0 0 24px 0;
    padding-top: 10px;
    font-size: 20px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__input:focus {
    outline: none;
    opacity: 1;
    font-size: 16px;
  }

  .modal__save-btn {
    width: 100%;
  }

  .modal__content {
    max-width: 90vw;
  }

  .modal__close {
    right: 0;
    top: 30px;
  }
}

@media screen and (max-width: 380px) {
  .modal__close {
    right: 0;
    top: -40px;
  }
}
