.modal {
  position: fixed;
  background-color: rgba(33, 33, 33, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  position: relative;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;

  color: rgba(33, 33, 33, 1);
  background-color: #ffffff;
  border: none;
  padding: 0;
}

.modal__close-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../images/close-btn.svg");
  background-size: contain;

  opacity: 0.4;
}

.modal__title {
  margin: 0 0 32px 0;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #000000;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: rgba(33, 33, 33, 0.7);
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
}

.modal__input {
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  opacity: 1;
}

.modal__input::placeholder {
  font-size: 20px;
  line-height: 1;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  opacity: 0.3;
}

.modal__input:focus {
  outline: none;
  opacity: 1;
}

.modal__save-btn {
  width: 156px;
  padding: 18px 0;
  background-color: #000000;
  color: rgba(252, 245, 229, 1);
  text-align: center;
  border-radius: 8px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

@media screen and (max-width: 784px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    margin: 0 0 24px 0;
    padding-top: 10px;
    font-size: 20px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__input:focus {
    outline: none;
    opacity: 1;
    font-size: 16px;
  }

  .modal__save-btn {
    width: 100%;
  }
}
