.page {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  max-width: 1280px;
  min-height: calc(100vh - 60px);
  width: 90%;
  margin: 0 auto;
  padding-top: calc(46px + 34px);
}

.page__background {
  background-color: #fcf5e5;
}
