.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  max-width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 12px 0 0;
  color: rgba(33, 33, 33, 0.7);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  max-width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  margin-top: auto;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  color: rgba(33, 33, 33, 0.7);
  border: none;
  background: none;
  padding: 0;
  min-width: 100px;
  height: auto;
  display: flex;
  gap: 8px;
}

.profile__edit-button::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/button-pencil.svg);
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile__plus-icon {
  width: 12px;
  height: 12px;
}
.profile__add-button {
  margin-left: auto;
  background-color: rgba(33, 33, 33);
  width: 149px;
  height: 52px;
  border: none;
  border-radius: 8px;
  padding: 18px 24px 18px 32px;
  color: #fcf5e5;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  white-space: nowrap;
}

.profile__add-button::before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../images/plus.svg);
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px 0 20px 0;
  }
  .profile__name {
    font-size: 20px;
    max-width: 288px;
    color: #212121;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
  }

  .profile__avatar {
    margin: 0 auto;
    height: 80px;
    width: 80px;
  }

  .profile__edit-button {
    align-self: center;
    margin-top: 32px;
    margin-bottom: 20px;
  }

  .profile__add-button {
    margin: 0;
    justify-content: center;

    width: 288px;
    text-align: center;
  }

  .profile__column {
    margin-top: 12px;
  }
  .profile__description {
    margin-top: 6px;
    max-width: 288px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
  }
}
