@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/content.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);
@import url(../blocks/modal.css);

.page {
  font-family: "Poppins", "ubuntu-regular", sans-serif;
  font-size: 16px;
  background-color: #fcf5e5;
}

.page__subtitle {
  font-style: italic;
}

.page__image {
  width: 800px;
}

.page__image_achievements {
  background-image: url(../images/achievements.svg);
  height: 444px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
