.card {
  list-style-type: none;
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
}

.card__title {
  margin: 12px 0 0;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 340px;
}

.card__like-button {
  background-image: url("../images/Like_icon.svg");
  background-color: transparent;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 0.4;
  margin-top: 12px;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 1;
  background-repeat: no-repeat;
}

.card__like-button_active {
  background-image: url(../images/like-icon-liked.svg);
  opacity: 1;
  background-repeat: no-repeat;
}

.card__like-button_active:hover {
  background-image: url(../images/like-icon-liked-hover.svg);
  background-repeat: no-repeat;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  background-image: url(../images/delete-icon-default.svg);
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/delete-icon-hover.svg);
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
    max-height: 318px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 250px;
  }
}
