.header {
  background: #fff;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.header__logo {
  width: 94px;
  height: 26px;
}

.header__container {
  width: 94px;
  height: 26px;
}
